:root {
    --primary: #4B7194;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    background-color: #fcfcfc;
}

.container {
    max-width: 670px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    padding: 20px 0;
}

.search {
    margin-bottom: 20px;
}

.search-input {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    text-align: center;
}

.search-input:focus {
    outline: none;
    border-color: var(--primary);
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.field {
    width: min(100%, 400px);
    text-align: center;
}

.field-hidden {
    display: none;
}

.field-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}

.field-grid {
    border: 3px solid #808080;
    width: max-content;
    margin: 0 auto;
}

.field-row {
    display: flex;
}

.field-row:nth-child(3),
.field-row:nth-child(6) {
    border-bottom: 3px solid #808080;
}

.field-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #808080;
    font-size: 18px;
}

.field-cell:nth-child(3),
.field-cell:nth-child(6) {
    border-right: 3px solid #808080;
}

.field-cell span {
    color: var(--primary);
}